# Fichiers Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Dossiers virtuels
venv/
env/
ENV/
.venv/

# Django-specific
*.sqlite3
db.sqlite3
/static/
media/

# Fichiers de config
*.log
*.pot
*.py[cod]
*.swp

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
